@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
h2 {
    padding-top: 2.5rem;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
}